body {
    font-family: $ff;
    background: var(--bodyBG);

   
   height: 100vh;
   display: grid;
   place-items: center;
   
}

a{
    font-weight: 700;
    color: #5381F8;
}


    
   
    
    
