$ff: "Open Sans", sans-serif;
$borderRadius: 8px;
$formContainerWidth: 546px;
$btnBG: rgb(83, 129, 248);

:root {
    --bodyBG: linear-gradient(119.00deg, rgb(82, 129, 248) 5.107%,rgba(140, 0, 189, 0.56) 88.439%);
    --formBG: rgb(255, 255, 255);
    --btnBG: rgb(83, 129, 248);
}